body {
    font-family: Arial, sans-serif;
    transform-origin: 0 0; /* Keeps content top-left */
}

.verse {
    line-height: 2;
}
.lyric {
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    line-height: 1;
}
.lyric[chord] {
    --chord: attr(chord);
}
.lyric:before {
    content: var(--chord, '\00a0');
    color:blue;
    /*justify-self: start; /* Default alignment: left */
}
.lyric[chord-align="right"]:before {
    justify-self: end;
}
.lyric[chord-align="center"]:before {
    justify-self: center;
}
.lyric.hide-chords::before {
    display: none;
}
.no-wrap {
    white-space: nowrap;
    overflow: hidden;
}

@media screen {
    .noScreen{display:none;}
}
@media print {
    .noPrint{display:none;}
    body {
        transform: none; /* Disable scaling when printing */
        width: 100%;
    }
}
